.heading h3{
display: inline;
float: left;
}
 
.heading button{
    float: right; 
    border: 1px solid white;
    font-size: 22px;
}

.big_image{
    width: 100%;
}

#start, #status{
    font-size: 22px;
}
.heading{
    width: 100%;
}
h4{
    line-height: 2;
    background-color: whitesmoke;
    margin: 0px;
}
.modal-dialog{
width: 90%;
}
.instruction_image{
    display:inline-block;
    width: 45%;
}

video{
    background: url('game_console.png');
    background-size:cover ;
    background-position:center;
}
